body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/bg1.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 195px; /* Increase margin to ensure content starts below the header */
    margin-bottom: 50px; /* Increase margin to ensure content starts below the header */
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    overflow-y: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;
}

.team-member {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.team-member img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.team-member h3 {
    margin: 0;
    font-size: 1.5em;
}

.team-member p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

ul {
    padding-left: 20px;
}
